@use '@angular/material' as mat;

@function light-theme($primary, $accent) {
  @return mat.m2-define-light-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: mat.m2-define-palette(mat.$m2-red-palette),
      ),
      typography: mat.m2-define-typography-config(),
      density: 0,
    )
  );
}

@function dark-theme($primary, $accent) {
  @return mat.m2-define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: mat.m2-define-palette(mat.$m2-red-palette),
      ),
      typography: mat.m2-define-typography-config(),
      density: 0,
    )
  );
}
