.ui-locale-switcher {
  margin-right: 0.25rem;
  --mat-standard-button-toggle-height: 27px;
  --mat-standard-button-toggle-label-text-size: 0.656rem;

  .mat-button-toggle-label-content {
    line-height: 27px;
    padding-inline: 0.56rem;
  }
}
